#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}
.title{
  color: #4f4f4f;
}
.default{
font-size: 14px;
padding: 0.7em 1.5em;
border-radius: 0.5em;
border: none;
background-color: #e0e0e0;
color: #3F3F3F;
box-shadow: 0px 3px 3px #e8e8e8;    
}
.default:hover{
  background-color: #828282;
}
.grid{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(25em,1fr)); 
  align-items: end;
}
.flex{
  display: flex;
  align-items: center;
  gap: 0.5em;
  
}
.align{
  align-self: self-end;
  margin-top: 3em;
}


