.title{
  color: #4f4f4f;
}
/* .default{
font-size: 14px;
padding: 0.7em 1.5em;
border-radius: 0.5em;
border: none;
background-color: #e0e0e0;
color: #3F3F3F;
box-shadow: 0px 3px 3px #e8e8e8;    
} */
.default:hover{
  background-color: #828282;
}
/*  */
.iconFlex{
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.flex{
  display: flex;   
  gap: 2em;  
}
.ul{
    
  margin:0;  
  padding:0;
  padding-left: 2em;
  padding-top: 3em;
}
.liTitle{
 
  margin-bottom: 50%;
}
.li{
  list-style-type: none;
  
  padding-bottom: 2em;
}
.Buttons{
  width: 100%;
}
.align{
  align-self: self-end;
  margin-top: 3em;
}


.aside{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  /* height: 100vh; */
  display: flex;
  flex-direction: column;

  width: 25%;
  background-color: #FAFBFD;
}
.asideLink{
  color: #9E9E9E;
}
.asideLink:hover{
  color: black;
  cursor: pointer;
}
.asideLink:focus{
  color: black;
}
.Devchallenges{
  color: black;  
  text-decoration:none ;
  font-size: 1.3em;

}
.spam{
  color:#F7542E;
}
.footer{
  color: #9E9E9E;
  font-size: clamp(0.5em, 1.5vw, 2em);
   text-align: center;
   padding-top: 3em;   

}